#buttons {
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
    background-color: rgba(108, 171, 235, 0.07);
    border-radius: 16px;
}

#buttons > * {
    line-height: 0;
}

#buttons svg {
    width: 30px;
    height: auto;
}
#copy path {
    transition: fill 1s ease-in;
}
#copy:hover {
    filter: none;
}
#copy:active {
    filter: none;
    transform: scale(0.85);
}
#copy .copied path {
    fill: #5486B8;
    transition: fill 0s ease-in;
}

@media (max-width: 490px) {
    #buttons svg {
        width: 30px;
    }
    #buttons > :first-child {
        margin-right: 0.25rem;
    }
}