#address {
    font-style: normal;
    font-weight: 500;
    align-self: center;
    text-align: center;
    vertical-align: bottom;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#address > :first-child {
    margin-right: 0.5rem;
}

#address > span {
    color: #6CABEB;
}