#page {
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    padding: 2rem; 
    flex: 1;

	border-top: 16px solid rgba(49, 78, 107, 1);
    display: flex;
    justify-content: center;
    align-items: center;

    --font-coefficient: 2rem;
    font-size: calc(var(--font-coefficient) * 0.5);
}

#content {
    background-color: rgb(244, 249, 254);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
    padding: 2rem;
    border: 2px solid #314E6B;
    border-radius: 16px;
    
    display: flex;
    flex-direction: column;
}
#content h2, #content h3 {
    color: #5486B8;
    border-bottom: 1px solid #314E6B;
    font-weight: 700;
}
#content h2 {
    font-size: var(--font-coefficient);
}
#content h3 {
    font-size: calc(var(--font-coefficient) * 0.625);
}
#content p, #content ul {
    color: #314E6B;
    line-height: calc(var(--font-coefficient) * 0.75);
    font-weight: 500;
}
#content > :nth-child(n + 3) {
    margin-top: calc(var(--font-coefficient) * 0.5);
}
#content > :nth-child(2) { 
    margin-top: calc(var(--font-coefficient) * 0.75);
}

#content span {
    color: #5486B8;
    font-weight: 600;
}

#content ul {
    list-style-position: outside;
    list-style-type: disc;
    /* margin-left: calc(var(--font-coefficient) * 0.75); */
}

@media (min-width: 768px) {
    #page {
        --font-coefficient: 2.5rem;
    }
}