#container, #container-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#container {
    position: relative;

    padding-top: 1.75rem;    
    padding-bottom: 2rem;

    background-color: rgb(252, 253, 255);
	border-top: 16px solid rgba(49, 78, 107, 1);
}

.card { 
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1.5rem;

    border: 2.5px solid #314E6B;
    border-radius: 12px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    /* background-color: #00000008; */
    background-color: rgb(255, 255, 255);
}

@media (min-width: 901px) {
    .card {
        flex: 0 1 calc(33.33% - 1.334rem);
        margin-right: 1rem;
        margin-bottom: 1rem;
    }
    #container .card:first-child {
        margin-left: 1rem;
    }
    .card > :last-child {
        margin-top: auto;
    }

    #container-wrapper {
        padding-top: 1rem;
    }
}

@media (max-width: 900px) {
    #container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    #container-wrapper { /* for stretch, while #container centers */
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
    }

    .card {
        margin: 1rem 1rem 0; /* top | l&r | bot */
        max-width: 444px;
    }
}

.profile-picture {
    width: 50%;
    padding-top: 50%; /* padding w/ percentages is calculated based off of containing parents' width */
    position: relative; /* then we do this + absolute nonsense to force the img in */
}
.profile-picture img {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 50%;
}

.main-tags {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 0.5rem; 
    /* this plus 0.3rem from element below gives 0.8rem,
    equivalent to name's margin-top for a "centered" / "distinguished" look */
}
.main-tags > :first-child { /* name */
    margin-top: 0.8rem;

    font-size: 1.5rem;
    font-weight: bold;

    color: #314E6B;

    white-space: nowrap;
}
/* :not(:first-child) avoids :last-child overwriting first-child in the case of no tag (can also just do nth child lol)*/
.main-tags > :not(:first-child) { /* president/webmaster tag if applicable */ 
    font-weight: bold;
    font-size: 1.3rem;

    color: rgba(49, 78, 107, 0.7);

    margin-top: 0;
}

.info {
    font-weight: 600;

    color: #5486B8;
    background-color: rgba(108, 171, 235, 0.1);
    
    border-radius: 16px;

    padding: 1rem;
    margin-bottom: 1.25rem;
}   

.link, #consulting-link { /* book link */
    padding: 0.5rem 1.4rem;

    width: 100%;

    font-weight: bold;

    border-radius: 16px;

    text-align: center;

    display: block;

    user-select: none;
    -webkit-user-select: none;
}
.link {
    font-size: 1.25rem;
    color: white;
    background-color: #314E6B;
}


#consulting-link {
    font-size: 1.25rem;
    width: fit-content;
    font-weight: 600;
    color: #5486B8;
    background-color: rgba(108, 171, 235, 0.05);
    margin-bottom: 1.25rem;
}
#consulting-link-svg {
    width: 1.30em;
    height: 1.30em;
}