* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
}

main > section {
	padding: 2rem;
}

.text {
    color: rgba(49, 78, 107, 0.7);
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

button, .link-button, .dramatic-link-button {
	appearance: none;
	display: block;
	padding: 0;
	border: none;
	cursor: pointer;
	text-align: center;
	background-color: transparent;
	font-family: inherit;
	user-select: none;
    -webkit-user-select: none;
	-moz-user-select: none;
	transform-origin: center;
    transition: transform 0.3s ease;
}
button:active, .link-button:active {
    transform: scale(0.99);
	/* filter: grayscale(1); */
}

.dramatic-button, .dramatic-link-button {
	transition: 0.5s ease;
	transition-property: transform;
}
.dramatic-button:active, .dramatic-link-button:active {
	transform: scale(0.95);
	filter: contrast(1.35);
}
.dramatic-button:hover, .dramatic-link-button:hover {
	filter: contrast(1.35);
	/* filter: grayscale(0.5); */ /* was cool for some but not for all */
}