.text {
    color: rgba(49, 78, 107, 0.7);
}

.intro, .courses, .teacher-info, .maxim {
    padding: 2rem;
}

/* Intro Section ------------------------------------------------------------------------------------------- */

.intro, .intro-container {
    display: flex;
}
.intro {
    align-items: center;
    justify-content: center;

    /* top | right | bottom | left */
    padding: 7rem 0 7.5rem 3rem;
}
.intro-container {
    flex-direction: column;
}

.intro-motto span {
    display: inline-block;
    font-size: 2.75rem;
    font-weight: bold;
    color: rgba(49, 78, 107, 1);
}
.intro-motto span:nth-of-type(2) {
    color: #5486B8;
}

.intro-blurb {
    font-size: 1.25rem;
    line-height: 1.75rem;

    margin-top: 1.25rem;
}

.intro-nav {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}
.intro-nav > * {
    display: inline-block;
}
.intro-nav > :first-child { /* book button */
    margin-right: 1rem;
    padding: 0.4rem 1.2rem;

    font-weight: bold;
    color: white;
    background-color: #314E6B;

    border-radius: 1rem;

    user-select: none;
    -webkit-user-select: none;
}
.intro-nav > :last-child {
    display: flex;
    align-items: center;

    font-weight: 500;
    color: rgba(49, 78, 107, 1);

    user-select: none;
    -webkit-user-select: none;
}

@media (max-width: 686px) {
    .intro {
        flex-direction: column;
        padding: 2rem;
        padding-top: 4rem;
    }
    .intro-container {
        margin-bottom: 2rem;
    }
}

@media (max-width: 366px) {
    .intro-blurb {
        font-size: 1.15rem;
    }
}
@media (max-width: 342px) {
    .intro-blurb {
        font-size: 1rem;
        font-weight: 500;
    }
}

/* Globe & Ball Animation ------------------------------------------------------------------------------------------- */

.globe {
    position: relative;
}

.globe svg {
    z-index: 0;
}

.ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
    position: absolute;
    z-index: 1;

    offset-distance: 100%;
    offset-rotate: 0deg;
    
    animation: move 7s infinite ease-in-out;
}
.ball.path1 {
    top: 55px;
    left: 55px;
    offset-path: path('M 210,210 L 0,0');
}
.ball.path2 {
    left: 40%;
    top: 10px;
    animation-delay: -4s;
    offset-path: path('M 35, 310 L 0,0');
}
.ball.path3 {
    top: 50%;
    left: 25px;
    animation-delay: -5s;
    offset-path: path('M 0,0 L 275,-85');
}


@keyframes move {
    from {
        offset-distance: 100%
    }
    50% {
        offset-distance: 0%;
    }
    80% {
        z-index: -1;
    }
    to {
        z-index: -1;
        offset-distance: 100%
    }
}

.trail {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    opacity: 1;
    display: flex;
    transform-origin: center center;
    transition: all 0.1s ease-in
}
.trail.fading {
    opacity: 0;
    transform: scale(0.2);
}
  
/* Girl Image ------------------------------------------------------------------------------------------- */

.girl-img {
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
    border-top: 2px solid #314E6B;
    border-bottom: 2px solid #314E6B;
}

/* Maxim Section ------------------------------------------------------------------------------------------- */

.maxim, .maxim-container {
    display: flex;
}
.maxim {
    background-color: #00000008;
    justify-content: center;
    align-items: center;
}
.maxim-container  {
    flex-direction: column;
}

.maxim-title {
    font-size: 1.75rem;
    font-weight: 700;
    color: #314E6B;
    
    margin-bottom: 0.5rem;
}
.maxim-title > span {
    color: #5486B8;
}
.maxim-title + p {
    /* border-top: 2px solid #314E6B; */

    margin-bottom: 1rem;

    font-size: 1.2rem;
    font-weight: 400;
}

.maxim-container > ul {
    list-style-position: inside;
    
    padding: 1rem;
    border-radius: 20px;

    font-size: 1.2rem;

    color: #5486B8;
    background-color: rgba(108, 171, 235, 0.1);
;
}
.maxim-container li:not(:last-child) {
    margin-bottom: 0.65rem;
}
.maxim-container li:last-child {
    font-weight: 700;
    /* color: #314E6B; */
    
}

.maxim-img {
    /* width: 20%; */
    /* height: auto; */
    
    flex: 0 1 300px;

    margin-right: 4rem;
}
.maxim-img img {
    width: 100%;
    height: auto;

    border-radius: 25px;
    border: 1px solid #d9d9d9;
}


@media (max-width: 686px) {
    .maxim {
        flex-direction: column;
    }
    .maxim-img {
        margin-right: 0;
        margin-bottom: 2rem;
        margin-top: 1rem;
        max-width: 305px;
    }
}


@media (max-width: 364px) {
    .maxim-title + p {
        font-size: 1rem;
    }
}

/* Course Section ------------------------------------------------------------------------------------------- */

/* TODO: Remove unnecessary inner div if you wish to remain with this style */

.courses {
    display: flex;
    justify-content: center;
}

.courses {
    justify-content: initial;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.courses-list {
    /* a bit convoluted but its aight ahahaha */
    font-size: min(max(calc(5vw), 1.5rem), 30.5px);
}

.courses-list, .courses-list > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses-list > div:first-child {
    color: #5486B8;
}
.courses-list > div:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 2px solid #314E6B;
}
.courses-list > div:not(:first-child) {
    padding-top: 1rem;
}
.courses-list > div:last-child > :last-child {
    color: #314E6B;
}

/* I don't really like it when it becomes horizontal */
/* @media (min-width: 687px) {
    .courses-list {
        flex-direction: row;
    }
    .courses-list > div:not(:last-child) {
        padding-bottom: 0;
        padding-right: 1rem;
        
        border-bottom: none;
        border-right: 2px solid #314E6B;
    }
    .courses-list > div:not(:first-child) {
        padding-top: 0rem;
        padding-left: 1rem;
    }
} */


/* Teacher Info Section ------------------------------------------------------------------------------------------- */

.teacher-info {
    background-color: #00000008;
    padding-top: 2.25rem;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    
}

.teacher-info-header {
    font-weight: bold;

    display: flex;
    flex-direction: column;

    margin-right: 1rem;
    font-size: 1.5rem;
}
.teacher-info-header :first-child {
    color: rgba(49, 78, 107, 1);
}
.teacher-info-header :last-child {
    color: #5486B8;
}

.teacher-info-header-container {
    display: flex;
    align-items: center;
}

.teacher-info-container {
    display: flex;
    flex-direction: column;

    grid-column: 1;
    grid-row: 1;

    justify-self: flex-end;
}

.teacher-info-caption {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;

    margin-top: 1.25rem;

    border-left: 4px solid #5486B8;
    border-radius: 1rem;
    padding: 0.4rem;
    padding-left: 1rem;

    justify-self: flex-end;
}

.teacher-info > div:last-child { /* button container */
    width: 100%;
    margin-top: 2rem;

    display: flex;
    justify-content: center;

    grid-column: 1 / 3;
    grid-row: 2;
}
.teacher-info button {
    position: relative;
    background-color: rgba(108, 171, 235, 0.1);
    border: 3px solid #5486B8;
    width: fit-content;
    color: rgba(49, 78, 107, 1);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.6rem 3rem; 
    border-radius: 0.9rem;
    cursor: pointer;
    overflow: hidden;
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
}
.teacher-info button:hover {
    border-color: #6DACFF; /* Brighter blue for a hover effect */
    transform: scale(1.05); /* Slightly scale the button on hover */
}
.teacher-info button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(108, 171, 235, 0.5); /* Slightly opaque blue for the fill effect */
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
.teacher-info button:hover::before {
    left: 0;
}
.teacher-info button:hover {
    color: rgba(49, 78, 107, 1.5); /* Darken the text color for better contrast */
}

@media (min-width: 615px) {
    .teacher-info-header {
        font-size: 1.75rem;
    }
}
@media (max-width: 385px) {
    .teacher-info-header {
        font-size: 1.33rem;
    }
}
@media (max-width: 354px) {
    .teacher-info-caption {
        font-size: 0.8rem;
        font-weight: 600;
    }
}
@media (max-width: 330px) {
    .teacher-info button {
        font-size: 1.2rem;
    }
}
@media (max-width: 300px) {
    .teacher-info-header {
        font-size: 1.1rem;
    }
    .teacher-info-caption {
        font-size: 0.725rem;
    }
    .teacher-info button {
        font-size: 1.1rem;
    }
}


/* SVG Animation ------------------------------------------------------------------------------------------- */

.path-animation {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: stroke-dashoffset 2s ease-in-out;
}

.desktop-svg {
    grid-column: 2;
    grid-row: 1 / 3;

    width: 212px;
    height: 210px;

}
