/* 
	Just here as legacy code to look at for reference,
	but is to be deleted later, and is used nowhere in 
	the code atm.
*/
.menubar-button {
	background-color: #6CABEB33;
	border-radius: 8px;

	line-height: 0;
	padding: 0.3rem 0.7rem;

	cursor: pointer;
}
.menu.hidden {
	opacity: 0.5;
	pointer-events: none;
}
.menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	/* transition: all 2s ease; */
}
.menu li {
	list-style-type: none;
	color: #314E6B;
	background-color: #B5D1EE59;

	font-size: 1.5rem;
	font-weight: bold;
}
.menu li:nth-child(-n+4) {
	border-bottom: 1px dashed #314E6B66;
}
.menu li > a {
	display: block;
	padding: 0.5rem 0.75rem;
}