#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    align-self: center;
    --font-size: 1rem;
}

#form-button {
    align-self: center;
    min-width: 50%;
    margin-top: 1rem;
    text-align: center;
}

#buttons {
    display: flex;
}
#buttons > :not(:last-child) {
    margin-right: 1rem;
}

/* :is / :where are a little too new for comfort, 2021 chrome for example */
#container button, #container a {
    border: 1.75px solid #314E6B;
    border-radius: 8px;
    padding: 0.15rem 0.5rem;
    color: #314E6B;
    background-color: inherit;
    font-weight: 600;
    font-size: var(--font-size);
}

@media (max-width: 389px) {
    #container button, #container a {
        padding: 0.15rem 0.3rem;
    }
}
@media (max-width: 357px) {
    #container {
        --font-size: 0.92rem;
    }
}

#copied-popup {
    margin-top: 1rem;
    color: green;
    font-size: 1.1rem;
    font-weight: 600;
    align-self: center;
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
    background-color: rgb(244, 249, 254);
    position: absolute;
    top: 100%;
    border: 1.5px solid #314E6B;
}
#copied-popup::before {
    content: "✅ ";
}